@media only screen and (min-width: 850px) {
    #navbar-phone{
        display: none;
    }

    #navbar-desktop{
        display: block;
    }

    #home{
        font-size: 50px;
        margin-left: 250px;
    }

    .mini{
        font-size: 50px;
        margin-left: 250px;
    }

    .wave{
        left: 0vw;
        top: 0vh;
    }

    #tattoo{
        font-size: 180px;
        margin-left: 350px;
    }

    #artist{
        margin-left: 350px;
    }

    #profile{
        width: 500px;
        margin-left: 30vw;
        margin-top: 20vh;
        border-radius: 10px;
    }

    .entries{
        font-size: 65px;
        margin-left: 35vw;
    }

    .tattoo{
        width: 100%; 
        height: auto;
        display: block;
    }

   .gallery{
        grid-template-columns: repeat(3, 1fr);
   }

   form{
    width: 25vw;
    margin-left: 30vw;
   } 

   #submit{
    margin-left: 10vw;
   }

   #navbar-desktop .nav-link:hover{
     background-color: black;
     color: white;
     border-radius: 3px;
   }
}

