.word-animation {
    display: inline-block;
  }
  
  .word {
    display: inline-block;
  }
  
  .animated-letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  .letter-spacing {
    display: inline-block;
    width: 0.5em; /* Ajusta el espaciado entre palabras según sea necesario */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      color: black; /* Cambia a negro o al color que desees */
    }
  }
  